<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/template.css" />
</head>
<body>
  <div class="top_border"></div>
  <div class="container">
    <nav id="static">
      <ul class="menu horizontal_top_nav">
        <li class="item-109">
          <a href="#" >Impressum/Kontakt</a>
        </li>
        <li class="item-110">
          <a href="#" > Wir &uuml;ber uns</a>
        </li>
        <li class="item-111">
          <a href="#" >Mitmachen</a>
        </li>
      </ul>
    </nav>
    <div class="header_container">
      <header id="eufrika_logo">
      </header>
      <div class="left_bar">
        <nav id="language_selector">
          <a href="#">
            <u class="language">F</u>rancais
          </a> - 
          <a href="#">
            <u class="language">E</u>nglish
          </a>
        </nav>
        <br />
        <div class="social_search_container">
          <div class="social_networks">
            FOLLOW US:
          </div>
          <br />
          <div class="searchform">
            <form>
              <input type="search" placeholder="Search.." />
              <input style="display: none;" type="submit" value="search" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <nav id="mainmenue">
      <ul class="menu horizontal_main_nav">
        <li class="item-109">
          <a href="#" >Meldungen</a>
        </li>
        <li class="item-110">
          <a href="#" >Berichte</a>
        </li>
        <li class="item-111">
          <a href="#" >Reportagen</a>
        </li>
        <li class="item-109">
          <a href="#" >Kommentaren</a>
        </li>
        <li class="item-110">
          <a href="#" >Interviews</a>
        </li>
        <li class="item-111">
          <a href="#" >Mediathek</a>
        </li>
      </ul>
    </nav>
    <div class="nav_delimiter"></div>
    <div class="main_frame">
      <div class="left_frame">
      </div>
      <aside id="sitebar">
        <section id="news_flash">
          <h3 class="module_title">News</h3>
          <div class="sitebar_delimiter"></div>
          <ul class="latestnews">
            <li>
              <u>Wirtschaft</u> - 
              <a href="/index.php/en/meldungen/4-tanzania-to-host-important-international-fishery-conference">
              Tanzania to host important International Fishery Conference</a>
              <img src="images/arrows/news_arrow.jpg" />
            </li>
          </ul>
        </section>
        <img src="images/map_picture.jpg" />
      </aside>
    </div>

    <div class="footer_container">
      <footer>
        <table border="0">
          <tr>
            <th>Meldungen</th>
            <th>Berichte</th>
            <th>Reportagen</th>
            <th>Kommentare</th>
            <th>Interviews</th>
            <th>Mediathek</th>
          </tr>
          <tr>
            <td>Politik</td>
            <td>Politik</td>
            <td>Politik</td>
            <td>Politik</td>
            <td>Politik</td>
            <td>Politik</td>
          </tr>
          <tr>
            <td>Wirtschaft</td>
            <td>Wirtschaft</td>
            <td>Wirtschaft</td>
            <td>Wirtschaft</td>
            <td>Wirtschaft</td>
            <td>Wirtschaft</td>
          </tr>
          <tr>
            <td>Gesellschaft</td>
            <td>Gesellschaft</td>
            <td>Gesellschaft</td>
            <td>Gesellschaft</td>
            <td>Gesellschaft</td>
            <td>Gesellschaft</td>
          </tr>
          <tr>
            <td>Kultur</td>
            <td>Kultur</td>
            <td>Kultur</td>
            <td>Kultur</td>
            <td>Kultur</td>
            <td>Kultur</td>
          </tr>
        </table>
        <div class="copyright">
          COPYRIGHT (C) 2012 BY EUFRIKA.ORG. ALL RIGHTS RESERVED.
        </div>
      </footer>
    </div
  </div>
</body>
</html>
