div#mod-languages ul{
  display: inline;
  list-style-type: none;
  -webkit-padding-start: 0px;
}

div#mod-languages ul li{
  display: inline;
}

ul.lang-inline li a span {
  display: block;
  float: left;
  margin-left: 27px;
}

ul.lang-inline li a span:first-letter {
  color: black;
}