aside#sitebar {
  float: right;
  width: 295px;
  padding-left: 25px;
}

section#news_flash {
  margin-top: 5px;
  margin-bottom: 10px;
}

h3.module_title {
  margin: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  text-align: left;
  font-weight: 500;
  padding-left: 6px;
}

div.sitebar_delimiter {
  margin-top: -5px;
  border-top: 2px solid;
}

ul.latestnews {
  list-style-type: none;
  font-size: small;
  text-align: left;
  -webkit-margin-before: 0.6em;
  -webkit-margin-after: 0.6em;
  -webkit-padding-start: 0px;
}

ul.latestnews li a {
  color: black;
  text-decoration: none;
}

ul.latestnews li img {
  vertical-align: middle;
}

ul.latestnews li u {
  color: #8c0005;
  text-decoration: none;
  font-weight: bold;
}

ul.mostread {
  list-style-type: none;
  font-size: small;
  text-align: left;
  -webkit-margin-before: 0.6em;
  -webkit-margin-after: 0.6em;
  -webkit-padding-start: 0px;
}

ul.mostread li a {
  color: black;
  text-decoration: none;
}

ul.mostread li img {
  vertical-align: middle;
}

ul.mostread li u {
  color: #8c0005;
  text-decoration: none;
  font-weight: bold;
}